.#{$ns}TreeSelectControl {
  position: relative;

  > .#{$ns}TreeSelect-popover {
    width: 100%;
  }
  .#{$ns}PopOver {
    box-shadow: var(--boxShadow);
    .#{$ns}Tree {
      border-radius: var(--borders-radius-3);
      border: none;
    }
  }
}

.#{$ns}TreeSelect {
  @include input-text();
  outline: none;

  &.is-opened {
    border-color: var(--Form-input-onFocused-borderColor);
    background: var(--Form-input-onFocused-bg);
  }

  &-popup {
    height: px2rem(400px);
  }
}

.#{$ns}TreeSelect-popover {
  background: transparent;
  border: none;

  .#{$ns}Select-menu {
    background: var(--TreeSelect-popover-bg);
    margin-top: -1px;
    max-height: 400px;

    .#{$ns}Tree {
      padding: var(--gap-xs) var(--Form-input-paddingX);
      border-radius: 0;
      max-height: 360px;
      overflow: auto;
    }
  }
}
